<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Pokémon Searcher</title>
</head>
<body class="bg-primary bg-gradient d-flex flex-column min-vh-100">
    <div class="container text-center pt-lg-5 pt-4">
        <div class="row">
            <span class="text-light display-3 mb-3">Pokémon Searcher</span>
            <form action="" class="row">
                <div class="col-12 mx-sm-3 mb-3">
                    <input type="text" class="form-control form-control-lg" placeholder="Write a pokemón name">
                </div>
                <div class="col-12 mx-sm-3">
                    <input type="submit" class="btn btn-lg btn-outline-light w-100" value="Submit">
                </div>
            </form>
        </div>
        <img src="/static/images/starters.png" alt="Starter Pokémons" class="img-fluid mt-5 m-md-0" >
    </div>
    <footer class="bg-white w-100 mt-auto px-5 py-2 d-flex justify-content-between align-items-center">
        <span class="text-secondary">Made with ❤️ by Kibon</span>
        <div class="me-5">
            <a href="https://www.linkedin.com/in/gabrielfreitas-xv/" target="_blank"><i class="fa fa-linkedin text-secondary" style="font-size:35px; margin: 0px 15px;"></i></a>
            <a href="https://github.com/kibonusp" target="_blank"><i class="fa fa-github text-secondary" style="font-size:35px; margin: 0px 15px;"></i></a>
        </div>
    </footer>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</html>